.App {
  position: absolute;
  margin-left: 48ch;
  margin-top: 2ch;
  background-color: rgb(211, 231, 245);
  height: auto;
  width: auto;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 19px #1e1a18;
  border-radius: 9px;
}
